// removing all default styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  color: rgb(150, 150, 150);
  font-weight: 400;
}
body {
  font-family: "Montserrat", sans-serif;
}

@import "./player";
@import "./song";
@import "./library";
